node_modules
# Keep environment variables out of version control
.env
.vercel
.output
.nitro
.build
playwright-report
stats.html
.fixtures
*.code-workspace

.vinxi

# Local Netlify folder
.netlify
dist

docs/.vitepress/dist
docs/.vitepress/cache

tmp

.DS_Store
