{
	"semi": true,
	"useTabs": true,
	"trailingComma": "all",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": [
		"explicitResourceManagement",
		"typescript",
		"jsx",
		"classProperties",
		"decoratorsLegacy"
	],
	"importOrderSideEffects": false,
	"importOrder": [
		"^(fully-react/(.*)$)|^(fully-react$)",
		"<THIRD_PARTY_MODULES>",
		"^node:(.*)$",
		"^[./]"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "**/package.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
