@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #000;
}

div#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
