@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark;
}

html {
  color-scheme: light;
}

/* code */



/* .ch-codegroup {
  @apply shadow-xl ring-1 ring-inset ring-white ring-opacity-10 rounded-lg;
  @apply backdrop-blur bg-slate-900/70;
  @apply w-full;
} */
/* 
.ch-code-scroll-parent {
  @apply leading-6 font-mono;
}

.ch-frame-buttons {
  @apply h-auto;
}

.ch-frame-button {
  @apply w-2.5 h-2.5 bg-slate-600 rounded-full border-none;
}

.ch-editor-tab {
  @apply hidden;
}

.ch-frame-title-bar {
  @apply border-b border-slate-500/30;
}

.ch-editor-frame,
.ch-frame-title-bar,
.ch-code-wrapper {
  @apply bg-transparent !important;
}


.ch-slideshow {
  @apply m-0;
}

.ch-slideshow-notes {
  @apply hidden;
}

.ch-slideshow-slide {
  @apply block max-w-7xl mx-auto px-4 sm:px-6 md:px-8 mt-20 sm:mt-24 lg:mt-32 lg:grid lg:gap-8 lg:grid-cols-12 lg:items-center;
}

.ch-slideshow-slide .ch-codegroup {
  @apply m-0 relative row-start-1 col-start-6 xl:col-start-7 col-span-7 xl:col-span-6;
}

.ch-slideshow-slide .ch-preview {
  @apply relative row-start-1 col-start-1 col-span-5 xl:col-span-6 -mt-10;
  @apply shadow-none;
}




.ch-spotlight-sticker {
  max-height: none !important;
  @apply static w-full h-auto  !important;
  @apply max-w-7xl flex-col-reverse mx-auto px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12 lg:gap-8 !important;
}

.ch-spotlight-preview {
  @apply shadow-none lg:h-auto overflow-visible !important;
  @apply row-start-1 lg:col-span-5 xl:col-span-6 flex flex-col col-start-1;
}

.ch-spotlight .ch-codegroup {
  max-height: none !important;
  @apply row-start-1 mt-4 -mx-4 sm:mx-0 lg:mt-0 lg:col-span-7 xl:col-span-6 lg:col-start-6 xl:col-start-7 z-10;
}

.ch-spotlight-tabs {
  @apply flex gap-x-2 sm:px-0 xl:gap-x-6;
  @apply max-w-7xl w-full mx-auto px-8 gap-12 mt-6;
}

.ch-spotlight-tabs > :first-child {
  @apply hidden;
}

.ch-spotlight-tab {
  @apply p-0 m-0 border-none;
}

.ch-spotlight-tab[data-selected="true"] button {
  @apply text-indigo-400;
}

.ch-spotlight-tab[data-selected="true"] svg {
  @apply text-indigo-400 !important;
}


.state-variants .ch-codegroup {
  @apply mt-4 -mx-4 sm:mx-0 lg:mt-0 lg:col-span-7 xl:col-span-6;
}

.ch-section {
  @apply max-w-7xl mx-auto px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12 lg:gap-8;
}

.ch-section-link,
.ch-section-link * {
  text-decoration: none !important;
}
 */
